---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: "{\"username\":\"<CLC_USERNAME>\",\"password\":\"<CLC_PASSWORD>\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"userName\":\"<CLC_USERNAME>\",\"accountAlias\":\"ALTD\",\"locationAlias\":\"VA1\",\"roles\":[\"AccountAdmin\",\"AccountViewer\",\"BillingAdmin\",\"DNSManager\",\"NetworkAdmin\",\"SecurityAdmin\",\"ServerAdmin\",\"ServerOperator\",\"ServerScheduler\"],\"bearerToken\":\"<CLC_BEARER_TOKEN>\"}"
  recorded_at: Thu, 19 Nov 2015 18:32:40 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/datacenters/ALTD/ca1?groupLinks=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"ca1\",\"name\":\"CA1 - Canada (Vancouver)\",\"links\":[{\"rel\":\"self\",\"href\":\"/v2/datacenters/altd/ca1\"},{\"rel\":\"deploymentCapabilities\",\"href\":\"/v2/datacenters/altd/ca1/deploymentCapabilities\"},{\"rel\":\"loadBalancers\",\"href\":\"/v2/sharedLoadBalancers/altd/ca1\",\"verbs\":[\"GET\",\"POST\"]},{\"rel\":\"computeLimits\",\"href\":\"/v2/datacenters/altd/ca1/computeLimits\",\"verbs\":[\"GET\",\"POST\"]},{\"rel\":\"networkLimits\",\"href\":\"/v2/datacenters/altd/ca1/networkLimits\",\"verbs\":[\"GET\"]},{\"rel\":\"availableOvfs\",\"href\":\"/v2/vmImport/altd/ca1/available\",\"verbs\":[\"GET\"]},{\"rel\":\"group\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d\",\"id\":\"5ffda89a8ce6444baa8d28b9d1581e6d\",\"name\":\"CA1
        Hardware\"},{\"rel\":\"createGroup\",\"href\":\"/v2/groups/altd\",\"verbs\":[\"POST\"]},{\"rel\":\"createServer\",\"href\":\"/v2/servers/altd\",\"verbs\":[\"POST\"]},{\"rel\":\"defaults\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d/defaults\",\"verbs\":[\"GET\",\"POST\"]},{\"rel\":\"billing\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d/billing\"},{\"rel\":\"statistics\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d/statistics\"},{\"rel\":\"upcomingScheduledActivities\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d/upcomingScheduledActivities\"},{\"rel\":\"horizontalAutoscalePolicyMapping\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d/horizontalAutoscalePolicy\",\"verbs\":[\"GET\",\"PUT\",\"DELETE\"]},{\"rel\":\"scheduledActivities\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d/scheduledActivities\",\"verbs\":[\"GET\",\"POST\"]}]}"
  recorded_at: Thu, 19 Nov 2015 18:32:41 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"5ffda89a8ce6444baa8d28b9d1581e6d\",\"name\":\"CA1 Hardware\",\"description\":\"CA1
        Hardware\",\"locationId\":\"CA1\",\"type\":\"default\",\"status\":\"active\",\"serversCount\":0,\"groups\":[{\"id\":\"5f69973e31d34bbbb76b0e1542b3a93a\",\"name\":\"Archive\",\"description\":\"Pay
        only for the storage consumed by the archived server. No compute or licensing
        costs are incurred.\",\"locationId\":\"CA1\",\"type\":\"archive\",\"status\":\"active\",\"serversCount\":0,\"groups\":[],\"links\":[{\"rel\":\"self\",\"href\":\"/v2/groups/altd/5f69973e31d34bbbb76b0e1542b3a93a\",\"verbs\":[\"GET\",\"PATCH\"]},{\"rel\":\"parentGroup\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d\",\"id\":\"5ffda89a8ce6444baa8d28b9d1581e6d\"},{\"rel\":\"defaults\",\"href\":\"/v2/groups/altd/5f69973e31d34bbbb76b0e1542b3a93a/defaults\",\"verbs\":[\"GET\",\"POST\"]},{\"rel\":\"billing\",\"href\":\"/v2/groups/altd/5f69973e31d34bbbb76b0e1542b3a93a/billing\"}],\"changeInfo\":{\"createdBy\":\"idrabenia\",\"createdDate\":\"2015-03-26T23:59:26Z\",\"modifiedBy\":\"idrabenia\",\"modifiedDate\":\"2015-03-26T23:59:26Z\"},\"customFields\":[]},{\"id\":\"975a79f94b84452ea1c920325967a33c\",\"name\":\"Default
        Group\",\"description\":\"The default location for new servers created in
        your account\",\"locationId\":\"CA1\",\"type\":\"default\",\"status\":\"active\",\"serversCount\":0,\"groups\":[],\"links\":[{\"rel\":\"createGroup\",\"href\":\"/v2/groups/altd\",\"verbs\":[\"POST\"]},{\"rel\":\"createServer\",\"href\":\"/v2/servers/altd\",\"verbs\":[\"POST\"]},{\"rel\":\"self\",\"href\":\"/v2/groups/altd/975a79f94b84452ea1[...]
