---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: "{\"username\":\"<CLC_USERNAME>\",\"password\":\"<CLC_PASSWORD>\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"userName\":\"<CLC_USERNAME>\",\"accountAlias\":\"ALTD\",\"locationAlias\":\"VA1\",\"roles\":[\"AccountAdmin\",\"AccountViewer\",\"BillingAdmin\",\"DNSManager\",\"NetworkAdmin\",\"SecurityAdmin\",\"ServerAdmin\",\"ServerOperator\",\"ServerScheduler\"],\"bearerToken\":\"<CLC_BEARER_TOKEN>\"}"
  recorded_at: Sun, 06 Dec 2015 17:44:55 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/servers/ALTD/ca1altdtest51?uuid=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"ca1altdtest51\",\"name\":\"CA1ALTDTEST51\",\"description\":\"\",\"groupId\":\"975a79f94b84452ea1c920325967a33c\",\"isTemplate\":false,\"locationId\":\"CA1\",\"osType\":\"Debian
        7 64-bit\",\"os\":\"debian7_64Bit\",\"status\":\"active\",\"details\":{\"ipAddresses\":[{\"internal\":\"10.50.48.12\"},{\"internal\":\"10.50.48.13\"},{\"public\":\"65.39.180.226\",\"internal\":\"10.50.48.14\"}],\"secondaryIPAddresses\":[],\"alertPolicies\":[],\"cpu\":1,\"diskCount\":3,\"hostName\":\"ca1altdtest51\",\"inMaintenanceMode\":false,\"memoryMB\":1024,\"powerState\":\"started\",\"storageGB\":19,\"disks\":[{\"id\":\"0:0\",\"sizeGB\":1,\"partitionPaths\":[]},{\"id\":\"0:1\",\"sizeGB\":2,\"partitionPaths\":[]},{\"id\":\"0:2\",\"sizeGB\":16,\"partitionPaths\":[]}],\"partitions\":[{\"sizeGB\":0.0,\"path\":\"(swap)\"},{\"sizeGB\":15.748,\"path\":\"/\"},{\"sizeGB\":0.482,\"path\":\"/boot\"}],\"snapshots\":[],\"customFields\":[]},\"type\":\"standard\",\"storageType\":\"premium\",\"changeInfo\":{\"createdBy\":\"<CLC_USERNAME>\",\"createdDate\":\"2015-12-06T13:58:32Z\",\"modifiedBy\":\"<CLC_USERNAME>\",\"modifiedDate\":\"2015-12-06T15:44:12Z\"},\"links\":[{\"rel\":\"self\",\"href\":\"/v2/servers/altd/ca1altdtest51\",\"id\":\"ca1altdtest51\",\"verbs\":[\"GET\",\"PATCH\",\"DELETE\"]},{\"rel\":\"group\",\"href\":\"/v2/groups/altd/975a79f94b84452ea1c920325967a33c\",\"id\":\"975a79f94b84452ea1c920325967a33c\"},{\"rel\":\"account\",\"href\":\"/v2/accounts/altd\",\"id\":\"altd\"},{\"rel\":\"billing\",\"href\":\"/v2/billing/altd/serverPricing/ca1altdtest51\"},{\"rel\":\"publicIPAddresses\",\"href\":\"/v2/servers/altd/ca1altdtest51/publicIPAddresses\",\"verbs\":[\"POST\"]},{\"rel\":\"credentials\",\"href\":\"/v2/servers/altd/ca1altdtest51/credentials[...]
- request:
    method: get
    uri: https://api.ctl.io/v2/servers/altd/ca1altdtest51/publicIPAddresses/65.39.180.226
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"internalIPAddress\":\"10.50.48.14\",\"ports\":[{\"protocol\":\"TCP\",\"port\":23,\"portTo\":24}],\"sourceRestrictions\":[]}"
  recorded_at: Sun, 06 Dec 2015 17:45:24 GMT
recorded_with: VCR 3.0.0
