---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: "{\"username\":\"<CLC_USERNAME>\",\"password\":\"<CLC_PASSWORD>\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"userName\":\"<CLC_USERNAME>\",\"accountAlias\":\"ALTD\",\"locationAlias\":\"VA1\",\"roles\":[\"AccountAdmin\",\"AccountViewer\",\"BillingAdmin\",\"DNSManager\",\"NetworkAdmin\",\"SecurityAdmin\",\"ServerAdmin\",\"ServerOperator\",\"ServerScheduler\"],\"bearerToken\":\"<CLC_BEARER_TOKEN>\"}"
  recorded_at: Wed, 25 Nov 2015 14:09:55 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/datacenters/ALTD/ca1/deploymentCapabilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"dataCenterEnabled\":true,\"importVMEnabled\":true,\"supportsPremiumStorage\":true,\"supportsSharedLoadBalancer\":true,\"supportsBareMetalServers\":false,\"deployableNetworks\":[{\"name\":\"vlan_2348_10.50.48\",\"networkId\":\"283f670e96f445b486569a2d4763609e\",\"type\":\"private\",\"accountID\":\"ALTD\"}],\"templates\":[{\"name\":\"BOSH-OPENSTACK-CLC-UBUNTU-TRUSTY-GO_AGENT_2922\",\"osType\":\"ubuntu14_64Bit\",\"description\":\"BOSH
        CLC Stemcell 2922\",\"storageSizeGB\":0,\"capabilities\":[\"cpuAutoscale\"],\"reservedDrivePaths\":[\"bin\",\"boot\",\"build\",\"cdrom\",\"compat\",\"dist\",\"dev\",\"entropy\",\"etc\",\"home\",\"initrd.img\",\"lib\",\"lib64\",\"libexec\",\"lost+found\",\"media\",\"mnt\",\"opt\",\"proc\",\"root\",\"sbin\",\"selinux\",\"srv\",\"sys\",\"tmp\",\"usr\",\"var\",\"vmlinuz\"],\"apiOnly\":true},{\"name\":\"BOSH-OPENSTACK-CLC-UBUNTU-TRUSTY-GO_AGENT_3012\",\"osType\":\"ubuntu14_64Bit\",\"description\":\"BOSH
        CLC Stemcell 3012\",\"storageSizeGB\":0,\"capabilities\":[\"cpuAutoscale\"],\"reservedDrivePaths\":[\"bin\",\"boot\",\"build\",\"cdrom\",\"compat\",\"dist\",\"dev\",\"entropy\",\"etc\",\"home\",\"initrd.img\",\"lib\",\"lib64\",\"libexec\",\"lost+found\",\"media\",\"mnt\",\"opt\",\"proc\",\"root\",\"sbin\",\"selinux\",\"srv\",\"sys\",\"tmp\",\"usr\",\"var\",\"vmlinuz\"],[...]
