---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: "{\"username\":\"<CLC_USERNAME>\",\"password\":\"<CLC_PASSWORD>\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"userName\":\"<CLC_USERNAME>\",\"accountAlias\":\"ALTD\",\"locationAlias\":\"VA1\",\"roles\":[\"AccountAdmin\",\"AccountViewer\",\"BillingAdmin\",\"DNSManager\",\"NetworkAdmin\",\"SecurityAdmin\",\"ServerAdmin\",\"ServerOperator\",\"ServerScheduler\"],\"bearerToken\":\"<CLC_BEARER_TOKEN>\"}"
  recorded_at: Sun, 29 Nov 2015 16:11:30 GMT
- request:
    method: post
    uri: https://api.ctl.io/v2/servers/ALTD/ca1altdtest34/publicIPAddresses
    body:
      encoding: UTF-8
      string: "{\"ports\":[{\"protocol\":\"tcp\",\"port\":23}]}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"rel\":\"status\",\"href\":\"/v2/operations/altd/status/ca1-41937\",\"id\":\"ca1-41937\"}"
  recorded_at: Sun, 29 Nov 2015 16:11:31 GMT
recorded_with: VCR 3.0.0
