---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: "{\"username\":\"<CLC_USERNAME>\",\"password\":\"<CLC_PASSWORD>\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"userName\":\"<CLC_USERNAME>\",\"accountAlias\":\"ALTD\",\"locationAlias\":\"VA1\",\"roles\":[\"AccountAdmin\",\"AccountViewer\",\"BillingAdmin\",\"DNSManager\",\"NetworkAdmin\",\"SecurityAdmin\",\"ServerAdmin\",\"ServerOperator\",\"ServerScheduler\"],\"bearerToken\":\"<CLC_BEARER_TOKEN>\"}"
  recorded_at: Mon, 30 Nov 2015 20:04:49 GMT
- request:
    method: post
    uri: https://api.ctl.io/v2/operations/ALTD/servers/powerOn
    body:
      encoding: UTF-8
      string: "[\"ca1altdtest47\"]"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[{\"server\":\"ca1altdtest47\",\"isQueued\":true,\"links\":[{\"rel\":\"status\",\"href\":\"/v2/operations/altd/status/ca1-42033\",\"id\":\"ca1-42033\"}]}]"
  recorded_at: Mon, 30 Nov 2015 20:04:51 GMT
recorded_with: VCR 3.0.0
