---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: "{\"username\":\"<CLC_USERNAME>\",\"password\":\"<CLC_PASSWORD>\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"userName\":\"<CLC_USERNAME>\",\"accountAlias\":\"ALTD\",\"locationAlias\":\"VA1\",\"roles\":[\"AccountAdmin\",\"AccountViewer\",\"BillingAdmin\",\"DNSManager\",\"NetworkAdmin\",\"SecurityAdmin\",\"ServerAdmin\",\"ServerOperator\",\"ServerScheduler\"],\"bearerToken\":\"<CLC_BEARER_TOKEN>\"}"
  recorded_at: Fri, 20 Nov 2015 12:20:26 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/datacenters/ALTD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[{\"id\":\"ca1\",\"name\":\"CA1 - Canada (Vancouver)\",\"links\":[{\"rel\":\"self\",\"href\":\"/v2/datacenters/altd/ca1\"},{\"rel\":\"deploymentCapabilities\",\"href\":\"/v2/datacenters/altd/ca1/deploymentCapabilities\"},{\"rel\":\"loadBalancers\",\"href\":\"/v2/sharedLoadBalancers/altd/ca1\",\"verbs\":[\"GET\",\"POST\"]},{\"rel\":\"computeLimits\",\"href\":\"/v2/datacenters/altd/ca1/computeLimits\",\"verbs\":[\"GET\",\"POST\"]},{\"rel\":\"networkLimits\",\"href\":\"/v2/datacenters/altd/ca1/networkLimits\",\"verbs\":[\"GET\"]},{\"rel\":\"availableOvfs\",\"href\":\"/v2/vmImport/altd/ca1/available\",\"verbs\":[\"GET\"]}]},{\"id\":\"ca2\",\"name\":\"CA2
        - Canada (Toronto)\",\"links\":[{\"rel\":\"self\",\"href\":\"/v2/datacenters/altd/ca2\"},{\"rel\":\"deploymentCapabilities\",\"href\":\"/[...]
