---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: "{\"username\":\"<CLC_USERNAME>\",\"password\":\"<CLC_PASSWORD>\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"userName\":\"<CLC_USERNAME>\",\"accountAlias\":\"ALTD\",\"locationAlias\":\"VA1\",\"roles\":[\"AccountAdmin\",\"AccountViewer\",\"BillingAdmin\",\"DNSManager\",\"NetworkAdmin\",\"SecurityAdmin\",\"ServerAdmin\",\"ServerOperator\",\"ServerScheduler\"],\"bearerToken\":\"<CLC_BEARER_TOKEN>\"}"
  recorded_at: Tue, 24 Nov 2015 11:21:30 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/groups/ALTD/5ffda89a8ce6444baa8d28b9d1581e6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"5ffda89a8ce6444baa8d28b9d1581e6d\",\"name\":\"CA1 Hardware\",\"description\":\"CA1
        Hardware\",\"locationId\":\"CA1\",\"type\":\"default\",\"status\":\"active\",\"serversCount\":0,\"groups\":[{\"id\":\"5f69973e31d34bbbb76b0e1542b3a93a\",\"name\":\"Archive\",\"description\":\"Pay
        only for the storage consumed by the archived server. No compute or licensing
        costs are incurred.\",\"locationId\":\"CA1\",\"type\":\"archive\",\"status\":\"active\",\"serversCount\":0,\"groups\":[],\"links\":[{\"rel\":\"self\",\"href\":\"/v2/groups/altd/5f69973e31d34bbbb76b0e1542b3a93a\",\"verbs\":[\"GET\",\"PATCH\"]},{\"rel\":\"parentGroup\",\"href\":\"/v2/groups/altd/5ffda89a8ce6444baa8d28b9d1581e6d\",\"id\":\"5ffda89a8ce6444baa8d28b9d1581e6d\"},{\"rel\":\"defaults\",\"href\":\"/v2/groups/altd/5f69973e31d34bbbb76b0e1542b3a93a/defaults\",\"verbs\":[\"GET\",\"POST\"]},{\"rel\":\"billing\",\"href\":\"/v2/groups/altd/5f69973e31d34bbbb76b0e1542b3a93a/billing\"}],\"changeInfo\":{\"createdBy\":\"idrabenia\",\"createdDate\":\"2015-03-26T23:59:26Z\",\"modifiedBy\":\"idrabenia\",\"modifiedDate\":\"2015-03-26T23:59:26Z\"},\"customFields\":[]},{\"id\":\"975a79f94b84452ea1c920325967a33c\",\"name\":\"Default
        Group\",\"description\":\"The default location for new servers created in
        your account\",\"locationId\":\"CA1\",\"type\":\"default\",\"status\":\"active\",\"serversCount\":0,\"groups\":[],\"links\":[{\"rel\":\"createGroup\",\"href\":\"/v2/groups/altd\",\"verbs\":[\"POST\"]},{\"rel\":\"createServer\",\"href\":\"/v2/servers/altd\",\"verbs\":[\"POST\"]},{\"rel\":\"self\",\"href\":\"/v2/groups/altd/975a79f94b84452ea1[...]
